@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  background-origin: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}


/* font  start  */

.font-bebas{
  font-family: 'Bebas Neue', sans-serif;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
}

/* font end */









.Name,.gradient__text{
  
   
  background: linear-gradient(#ff9966, #ff5e62);
  background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}


.gradient__text1{
  
   
  background: linear-gradient(#ff9966, #ff5e62);
  background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}

.gradient__text2 {


background: linear-gradient(#05eecf, #146bdd);
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}

.skill__gradient {


background: linear-gradient(to right,#abffdc, #00d9ff);
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}

.TextEffect {


background: linear-gradient(#36D1DC, #5B86E5);
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}



.nav__hover{


background: linear-gradient(#36D1DC, #5B86E5);
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}